<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>スタジオ一覧</title>
</head>
<body>
  <%= render 'shared/band_name' %> 
  <div class="flex flex-col items-center">
    <div class="text-center text-xl font-bold my-2">スタジオ一覧</div>
    <%= link_to 'スタジオ登録画面へ', new_group_spot_path(@group), class: "btn btn-sm btn-success mb-4" %>
  </div>
  <div id="map"></div>

  <style>
  #map {
    height: 250px;
    width: 90%;
    margin: 0 auto;
  }
  </style>

  <ul class="grid grid-cols-1 justify-items-center mx-auto mt-4" id="spot-list">
    <% if @spots.present? %>
      <% @spots.each do |spot| %>
        <li class="bg-white shadow-md rounded-lg p-4 w-[90vw] mb-4">
          <div class="flex justify-between items-center mt-2">
            <div>
              <a href="#" class="spot-link link-hover" data-index="<%= @spots.index(spot) %>">
                <%= spot.registered_title %>
                <div class="text-sm text-gray-500 mt-2"><%= spot.address %></div>
                <div class="text-sm text-gray-500 mt-2">練習開始：<%= spot.start_datetime.strftime("%Y/%m/%d %H:%M") %></div>
              </a>
            </div>
            <%= link_to '詳細', group_spot_path(@group, spot), class: "btn btn-sm btn-success my-4 mx-4" %>
          </div>
        </li>
      <% end %>
    <% else %>
        <div>登録したスタジオが見つかりません</div>
    <% end %>
  </ul>
  <%= render 'shared/in_group_menu' %>

  <script>
    function initMap() {
      let latlng = new google.maps.LatLng(35.6803997, 139.7690174); // 地図の表示初期値(東京)
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: latlng
      });
      let activeInfoWindow; // 現在開いているInfoWindowを追跡

      let markers = []; // マーカーを保存する配列
      let infoWindows = []; // InfoWindowを保存する配列

      <% @spots.each_with_index do |spot, index| %> 
        (function() {
          let markerLatLng = { lat: <%= spot.lat %>, lng: <%= spot.lng %> };
          let marker = new google.maps.Marker({
            position: markerLatLng,
            map: map
          });
          markers.push(marker); // マーカーを配列に追加
          let googleMapsUrl = "https://www.google.com/maps/search/?api=1&query=<%= spot.lat %>,<%= spot.lng %>&query_place_id=<%= spot.place_id %>";
          

          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: `
              <a href='<%= group_spot_path(@group, spot) %>' class='text-blue-600 link-hover'>
                <%= spot.registered_title %>
              </a><br>
              <a href='${googleMapsUrl}' target='_blank' class='text-blue-600 link-hover'>
                Googleマップで見る
              </a>`
          });
          infoWindows.push(infowindow); // InfoWindowを配列に追加

          // マーカーをクリックしたら詳細情報の吹き出しが表示される
          marker.addListener('click', function() {
            if (activeInfoWindow) { 
              activeInfoWindow.close(); // 前のInfoWindowを閉じる
            }
            infowindow.open(map, marker); // 新しいInfoWindowを開く
            activeInfoWindow = infowindow; // 現在開いているInfoWindowを更新
          });
        })();
      <% end %>

      // 一覧のタイトルをクリックすると、地図上の対象のピン上に吹き出しが表示される
      document.querySelectorAll('.spot-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
          event.preventDefault();
          let index = parseInt(this.getAttribute('data-index'), 10);
          let marker = markers[index];
          let infowindow = infoWindows[index];

          if (activeInfoWindow) { 
            activeInfoWindow.close(); // 前のInfoWindowを閉じる
          }
          infowindow.open(map, marker); // 新しいInfoWindowを開く
          activeInfoWindow = infowindow; // 現在開いているInfoWindowを更新
        });
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&libraries=places&callback=initMap" async defer></script>
</body>
</html>
