<div class="flex justify-center mt-4 mx-4">
  <%= link_to "#{@group.name}:グループ詳細画面", group_path(@group),  class: "btn btn-sm btn-success" %> 
</div>
<div class="text-center text-xl font-bold mt-10">登録したスタジオ詳細</div>
<div class="flex flex-col items-center">
  <div class="mt-4">登録タイトル</div>
  <div class="mt-4"><%= @spot.registered_title %></div>
  <div class="mt-4">練習開始日時</div>
  <div class="mt-4"><%= @spot.start_datetime.strftime("%Y/%m/%d %H:%M") %></div>
  <div class="mt-4">投稿者名</div>
  <div class="mt-4"><%= @spot.user.name %></div>

  <div class="flex justify-center mt-4">
    <div class="mr-4">
      <%= link_to edit_group_spot_path(@group, @spot) do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </div>
    <div class="mr-4">
      <%= link_to group_spot_path, data: { turbo_method: :delete, turbo_confirm: "削除しますか" } do%>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  </div>
  <%= link_to "スタジオ一覧に戻る", group_spots_path(@group), class: "underline text-blue-600 my-4"%>
</div>