<div class="flex justify-center mt-4">
  <%= image_tag 'bandmemo.png', width: '400', height: '100' %>
</div>

<div class="flex text-center justify-center text-base font-bold mt-0 mb-4 mx-10 ">
  「Aメロってどんなイメージで演奏することになったっけ、、？」<br>
</div>
<div class="flex text-center justify-center text-sm mt-0 mb-10 mx-10 ">
  バンド練習で決まった決定事項、確実にメモして共有できていますか？<br>
  忙しいけど、効率よく練習してバンドで最高のパフォーマンスをしたい！<br>
  そんな皆さんのための、メモアプリです。<br>
</div>

<% if logged_in? %> 
  <div class="flex justify-center mb-10 mx-4">
    <%= link_to voices_path do %>
      <div class="mr-4">
        <button class="btn btn-accent">
          <div class="text-xs">①音声文字起こし</div>
        </button>
      </div>
    <% end %>
    <%= link_to  new_summary_path do %>
      <div class="mr-4">
        <button class="btn btn-secondary">
          <div class="text-xs">②メモを要約・保存</div>
        </button>
      </div>
    <% end %>
    <%= link_to summaries_path do %>
      <div class="mr-4">
        <button class="btn btn-outline btn-secondary">
         <div class="text-xs"> ③練習メモ一覧</div>
        </button>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="flex justify-center mb-10">
    <%# googleでログイン %>
    <%= link_to auth_at_provider_path(provider: :google) do %>
      <div class="mr-4"><button class="btn btn-secondary">Googleでログイン</button></div>
    <% end %>
  </div>
<% end %>

<div class="grid grid-cols-1 gap-4 justify-items-center max-w-4xl mx-auto">
  <div class="bg-white shadow-md rounded-lg p-4 w-5/6 max-w-md">
    <div class="font-bold mb-4">①音声文字起こしで仮メモ作成</div>
    ・練習中など、手入力が面倒な場面でも、音声文字起こし機能で仮メモの作成ができます。<br>
    ・作成されたテキストは編集可能です。<br>
    <br>
    <a href="https://gyazo.com/6a67dc88abf3ec5788d716a7c4c549cd"><img src="https://i.gyazo.com/6a67dc88abf3ec5788d716a7c4c549cd.gif" alt="Image from Gyazo" width="800"/></a>
  </div>
  <div class="bg-white shadow-md rounded-lg p-4 w-5/6 max-w-md">
    <div class="font-bold mb-4">②メモを要約・保存</div>
    ・音声文字起こしで作成した仮メモをコピー&ペーストして、AIにまとめてもらいましょう。<br>
    ・箇条書きで要点を押さえた書き方に変換。<br>
    ・原文テキストの確認、変換後テキストの編集が可能であるため、メモ内容を最終調整できます。<br>
    <br>
    <a href="https://gyazo.com/94cbe24fee138165d0eac4eb4bd40227"><img src="https://i.gyazo.com/94cbe24fee138165d0eac4eb4bd40227.gif" alt="Image from Gyazo" width="1000"/></a>
  </div>
  <div class="bg-white shadow-md rounded-lg p-4 w-5/6 max-w-md mb-4">
    <div class="font-bold mb-4">③練習メモ一覧</div>
    ・作成されたメモを一覧で確認。<br>
    ・分かりやすくまとめられたメモをメンバーに共有して、次回以降の練習に活かしましょう！<br>
  </div>
</div>
