<div class="flex justify-center mt-4">
  <%= image_tag 'bandmemo.png', width: '310', height: '100' %>
</div>

<div class="flex text-center justify-center text-base font-bold mt-0 mb-4 mx-10 ">
  「Aメロってどんなイメージで演奏することになったっけ、、？」<br>
</div>
<div class="flex text-center justify-center text-sm mt-0 mb-10 mx-10 ">
  バンド練習で決まった決定事項、確実にメモして共有できていますか？<br>
  忙しいけど、効率よく練習してバンドで最高のパフォーマンスをしたい！<br>
  そんな皆さんのための、メモアプリです。<br>
</div>

<% if logged_in? %> 
  <div class="flex justify-center mb-10 mx-4">
    <%= link_to new_group_path do %>
      <div class="mr-4">
        <button class="btn btn-accent">
          <div class="text-xs">バンドグループ作成</div>
        </button>
      </div>
    <% end %>
    <%= link_to groups_path do %>
      <div class="mr-4">
        <button class="btn btn-secondary">
          <div class="text-xs">グループ加入・入室</div>
        </button>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="flex text-center justify-center text-sm mt-0 mb-1">
    ▼ログインして使い始める(Chromeでの使用を推奨)
  </div>
  <div class="flex justify-center mb-10">
    <%# ログイン画面 %>
    <%= link_to login_path do %>
      <div class="mr-4"><button class="btn btn-secondary">ログイン画面へ</button></div>
    <% end %>
  </div>
<% end %>
<%= render 'shared/explanation' %>
</div>
