<div class="text-center text-xl font-bold mt-10">プロフィール編集</div>

<div class="flex flex-col items-center mt-4">
  <%= form_with model: @user, url: profile_path do |f| %>
  <%= render 'shared/error_messages', object: f.object%>
    <div class="grid grid-cols-1 gap-4 justify-items-center mx-auto">
      <%= f.label :name, '名前' %>
      <%= f.text_area :name, rows: 1, class: "rounded-lg p-4 w-[60vw]" %>
    </div>
    <div class="flex justify-center mt-4 mx-4">
      <div class="mr-4"">
        <button class="btn btn-outline btn-success">
          <div class="text-xs"><%= f.submit "更新する" %></div>
        </button>
      </div>
    </div>
  <% end %>
</div>

