<div class="flex justify-center">
  <div class="row">
    <div class="flex flex-col items-center mt-4">
      <h1 class="text-center text-xl font-bold my-10">パスワードリセット申請</h1>
      <%= form_with url: password_resets_path do |f| %>
        <div class="mb-3">
          <%= f.label :email%>
          <%= f.email_field :email, class: "form-control"%>
        </div>
        <div class="flex justify-center my-10">
          <%= f.submit "送信する", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class='text-center text-blue-600 underline'>
        <%= link_to 'ログインページへ', login_path %>
      </div>
    </div>
  </div>
</div>