<div class="flex justify-center mt-4 mx-4">
    <%= link_to "#{@group.name}:グループ詳細画面", group_path(@group),  class: "btn btn-sm btn-success" %> 
  </div>
<div class="text-center text-xl font-bold mt-10">③練習メモ一覧</div >
<div class="flex justify-center mt-4">
  <%= link_to group_voices_path(@group) do %>
    <div class="mr-4">
      <button class="btn btn-accent">
        <div class="text-xs">音声で仮メモを作成</div>
      </button>
    </div>
  <% end %>
  <%= link_to  new_group_summary_path(@group) do %>
    <div class="mr-4">
      <button class="btn btn-secondary">
        <div class="text-xs">メモを要約・保存</div>
      </button>
    </div>
  <% end %>
</div>

<div class="flex justify-center mt-10">
  <% if @summaries.exists? %>
    <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 justify-items-center max-w-4xl mx-auto mb-4">
        <% @summaries.each do |summary| %>
          <li class="bg-white shadow-md rounded-lg p-4 w-5/6 max-w-md">
            <div class="flex justify-center mt-auto">
              <% if summary.user_id == current_user.id %>
                <%= link_to group_summary_path(@group, summary) do %>
                  <div class="mr-4">
                    <button class="btn btn-outline btn-info">
                      <div class="text-xs">原文はこちら</div>
                    </button>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="flex justify-between items-center mt-auto">
              <% if summary.user_id == current_user.id || @group.owner_id == current_user.id%>
                <div class="ml-4 mr-auto flex space-x-4">
                  <%= link_to edit_group_summary_path(@group, summary) do %>
                      <i class="fa-solid fa-pen"></i>
                  <% end %>
                  <%= link_to group_summary_path(@group, summary), data: { turbo_method: :delete, turbo_confirm: "削除しますか" } do %>
                      <i class="fa-solid fa-trash"></i>
                  <% end %>
                </div>
              <% end %>
              <div class="ml-auto mr-4">
                <%= render 'like_buttons', { group: @group, summary: summary }  %>
              </div>
            </div>
            <div class="flex-grow">
              <div class="text-center text-lg font-bold mt-2"><%= summary.title %></div>
              <div class="text-center mt-2">作成：<%= summary.user.name %></div>
              <div class="text-center mt-2"><%= summary.created_at.strftime("%Y/%m/%d %H:%M") %></div>
              <div class="text-center mt-2">
                <% if summary.summary.present? %>
                <%= markdown(summary.summary) %>
                <% else %>
                <%= markdown(summary.content) %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
    </ul>
  <% else %>
  <div>メモが見つかりません</div>
  <% end %>
</div>