<%= render 'shared/band_name' %> 
<div class="text-center text-xl font-bold mt-10">メモ原文</div>
<br>
<div class="mx-4"><%= @summary.content %></div>
<br>
<div class="flex justify-center mt-4">
  <%= link_to  group_summaries_path(@group) do %>
    <button class="btn btn-secondary">
      <div class="text-xs">一覧に戻る</div>
    </button>
  <% end %>
</div>
<%= render 'shared/privacy_policy' %>
<%= render 'shared/in_group_menu' %>
