<%= render 'shared/personal_band_name' %> 
<div class="text-center text-xl font-bold my-2">メモの編集</div>

<div class="flex flex-col items-center mt-4">
  <%= form_with model: @summary, url: personal_summary_path do |form| %>
    <div class="grid grid-cols-1 gap-4 justify-items-center w-[90vw] mx-auto">
      <%= form.label :title, 'タイトル'%>
      <%= form.text_area :title, rows: 1, class: "rounded-lg p-4 w-full" %>
      <% if @summary.summary.present? %>
      <%= form.label :summary, 'メモ内容' %>
      <%= form.text_area :summary, rows: 5, class: "rounded-lg p-4 w-full" %>
      <% else %>
      <%= form.label :content, 'メモ内容' %>
      <%= form.text_area :content, rows: 5, class: "rounded-lg p-4 w-full" %>
      <% end %>
    </div>
    <div class="flex justify-center mt-4 mx-4">
      <div class="mr-4"">
        <button class="btn btn-outline btn-success">
          <div class="text-xs"><%= form.submit "編集して保存" %></div>
        </button>
      </div>
      <div class="mr-4"">
        <%= link_to personal_summaries_path do %>
          <button class="btn btn-outline btn-secondary">
            <div class="text-xs">練習メモ一覧に戻る</div>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= render 'shared/privacy_policy' %>
<%= render 'shared/in_personal_menu' %>