<%= render 'shared/personal_band_name' %> 
<div class="text-center text-xl font-bold my-2">音声文字起こしの編集</div>

<div class="flex flex-col items-center mt-4">
  <%= form_with model: @voice, url: personal_voice_path do |form| %>
  <%= render 'shared/error_messages', object: form.object%>
    <div class="grid grid-cols-1 gap-4 justify-items-center mx-auto">
      <%= form.label :content, '内容'%>
      <%= form.text_area :content, rows: 5, class: "rounded-lg p-4 w-[90vw]" %>
    </div>
    <div class="flex justify-center mt-4 mx-4">
      <div class="mr-4">
        <button class="btn btn-outline btn-success">
          <div class="text-xs"><%= form.submit "編集して保存" %></div>
        </button>
      </div>
      <div class="mr-4">
        <%= link_to personal_voices_path do %>
          <button class="btn btn-outline btn-secondary">
            <div class="text-xs">音声文字起こし一覧に戻る</div>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= render 'shared/in_personal_menu' %>