<%= render 'shared/band_name' %> 
<div class="text-center text-xl font-bold my-2">参考動画一覧</div >
<div class="flex justify-center mt-4">
  <%= link_to new_group_video_path do %>
      <button class="btn btn-accent">
        <div class="text-xs">動画を登録する</div>
      </button>
  <% end %>
</div>
<div class="flex justify-center mt-4">
  <% if @videos.exists? %>
    <ul class="grid grid-cols-1 gap-4 justify-items-center mx-auto mb-4">
        <% @videos.each do |video| %>
          <li class="bg-white shadow-md rounded-lg p-4 w-[90vw] mx-auto">
            <div class="flex justify-center mt-auto">
              <% if video.user_id == current_user.id || @group.owner_id == current_user.id%>
                <div class="flex space-x-8">
                  <%= link_to edit_group_video_path(@group, video) do %>
                      <i class="fa-solid fa-pen"></i>
                  <% end %>
                  <%= link_to group_video_path(@group, video), data: { turbo_method: :delete, turbo_confirm: "削除しますか" } do %>
                      <i class="fa-solid fa-trash"></i>
                  <% end %>
                </div>               
              <% end %>
            </div>
              <div class="text-center text-lg font-bold mt-2"><%= video.title %></div>
              <div class="text-center mt-2">作成：<%= video.user.name %></div>
              <div class="text-center mt-2"><%= video.created_at.strftime("%Y/%m/%d %H:%M") %></div>
              <div class="text-center mt-2">
                <div class="relative w-full pb-[56.25%]">
                  <iframe src="https://www.youtube.com/embed/<%= video.split_id_from_youtube_url %>", 
                      allow ="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", 
                      allowfullscreen="", 
                      frameborder="0", 
                      class="absolute top-0 left-0 w-full h-full">
                  </iframe>
                </div>
              </div>
          </li>
        <% end %>
    </ul>
  <% else %>
  <div>動画が見つかりません</div>
  <% end %>
</div>
<%= render 'shared/in_group_menu' %>