<!DOCTYPE html>
<html>
<head>
  <title>音声入力</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flex justify-center mt-4 mx-4">
    <%= link_to "#{@group.name}:グループ詳細画面", group_path(@group),  class: "btn btn-sm btn-success" %> 
  </div>
  <div class="text-center text-xl font-bold mt-10">①音声文字起こしで仮メモ作成</div>
  
  <div class="flex justify-center mt-4 mb-4">
    <div class="mr-4">
      <button class="btn btn-outline btn-secondary" id="start-btn">
        <div class="text-xs">録音開始</div>
       </button>
    </div>
    <div class="mr-4">
      <button class="btn btn-outline btn-secondary" id="stop-btn">
        <div class="text-xs">録音停止・保存
        </div>
      </button>
    </div>
  </div>

  <div class="text-center text-sm mx-10">
    <div id="status">
      <p>「録音開始」ボタンをクリックして話し始めてください..</p>
      <p>※日本語のみに対応</p>
    </div>
    <div id="result-div"></div> <!-- リアルタイムの音声入力表示用 -->
  </div>

  <div class="text-center text-base font-bold mt-4 mb-4">【音声文字起こし一覧】</div>
    <div class="text-center text-sm text-blue-600 mt-1 mb-4">
      各投稿の文字をクリックすると、編集・削除が可能です。
    </div>
    <div class="text-center text-sm mt-1 mb-4">
    ※この文章のあたりを長押しすると、コメント範囲選択+コピーしやすいです。
    </div>
  <div class="flex justify-center mt-4">
      <div class="mr-4 mb-4">
        <%= link_to new_group_summary_path(@group) do %>
          <button class="btn btn-secondary">
            <div class="text-xs">
              必要な仮メモをコピー後、<br>
              メモを要約・保存ページへ
            </div>
          </button>
        <% end %>
      </div>
  </div>
 
<ul class="grid grid-cols-1 justify-items-center max-w-4xl mx-auto">
  <% if @voices.present? %>
    <% @voices.each do |voice| %>
      <li class="bg-white shadow-md rounded-lg p-4 w-5/6 max-w-md mb-4">
        <div class="mt-2">
          <%= link_to voice.content, group_voice_path(@group, voice) %>
        </div>
      </li>
    <% end %>
  <% else %>
    <div>音声文字起こしが見つかりません</div>
  <% end %>
</ul>

  <script>
  document.addEventListener('turbo:load', function() {
    const startBtn = document.querySelector('#start-btn');
    const stopBtn = document.querySelector('#stop-btn');
    const resultDiv = document.querySelector('#result-div');

    SpeechRecognition = webkitSpeechRecognition || SpeechRecognition;
    let recognition = new SpeechRecognition();

    recognition.lang = 'ja-JP';
    recognition.interimResults = true;
    recognition.continuous = true;

    let finalTranscript = ''; // 確定した(黒の)認識結果

    recognition.onresult = (event) => {
      let interimTranscript = ''; // 入力中音声の認識結果
      for (let i = event.resultIndex; i < event.results.length; i++) {
        let transcript = event.results[i][0].transcript;
        if (event.results[i].isFinal) {
          finalTranscript += transcript;
        } else {
          interimTranscript = transcript;
        }
      }
      resultDiv.innerHTML = finalTranscript + '<i style="color:#80A1C1;">' + interimTranscript + '</i>';
    }

    startBtn.onclick = () => {
      finalTranscript = ''; // 新しい録音のためにリセット
      interimTranscript = ''; // 中間結果をリセット
      recognition.start();
      startBtn.disabled = true; // 録音開始ボタンを無効化
      stopBtn.disabled = false; // 録音停止・保存ボタンを有効化
    }

    stopBtn.onclick = () => {
      recognition.stop();
      startBtn.disabled = false; // 録音開始ボタンを有効化
      stopBtn.disabled = true; // 録音停止・保存ボタンを無効化
      if (finalTranscript.trim() !== '') {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        fetch('<%= group_voices_path(@group) %>', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': csrfToken
          },
          body: JSON.stringify({ voice: { content: finalTranscript } })
        }).then(response => {
          if (response.ok) {
            resultDiv.innerHTML = '音声データが保存されました';
            setTimeout(() => {
              window.location.reload(); // 保存後、ページをリロードして新しいデータを表示
            }, 2000);
          } else {
            resultDiv.innerHTML = '音声データの保存に失敗しました';
          }
        });
      } else {
        resultDiv.innerHTML = '保存する音声データがありません';
      }

    }
  });
  </script>
</body>
</html>
