<div class="grid justify-items-center max-w-4xl mx-auto">
  <div class="bg-white shadow-md rounded-lg p-4 max-w-md mb-4">
    <% if @voice.user_id == current_user.id %>
      <div class="flex justify-center space-x-4 mb-2">
        <%= link_to edit_group_voice_path(@group, @voice) do %>
          <i class="fa-solid fa-pen"></i>
        <% end %>
        <%= link_to group_voice_path(@group), data: { turbo_method: :delete, turbo_confirm: "削除しますか" } do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    <% end %>
    <div class="mt-2">
      <%= @voice.content %>
    </div>
  </div>
    <%= link_to group_voices_path(@group) do %>
      <button class="btn btn-outline btn-secondary">
        <div class="text-xs">音声文字起こし一覧に戻る</div>
      </button>
    <% end %>
</div>
<%= render 'shared/privacy_policy' %>
<%= render 'shared/in_group_menu' %>

