<div class="flex justify-center">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1 class="text-center text-xl font-bold mt-10">ログイン</h1>
      <%= form_with url: login_path do |f| %>
        <div class="mb-3">
          <%= f.label :email, 'メールアドレス'%>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="flex justify-center mb-10">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class='text-center text-blue-600 underline'>
        <%= link_to '新規登録ページへ', new_user_path %>
        <br>
        <%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path %> 
      </div>
      <div class='text-center'>
        <p>or</p>
        <p>---------------------------------</p>
      </div>
      <div class="flex justify-center mb-10">
        <%# googleでログイン %>
        <%= link_to auth_at_provider_path(provider: :google) do %>
          <div class="mr-4"><button class="btn btn-secondary">Googleでログイン</button></div>
        <% end %>
      </div>
    </div>
  </div>
</div>