<!DOCTYPE html>
<html data-theme="nord">
  <head>
    <!-- Twitterカードの設定 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kamekame_manabi" />
    <meta property="og:url" content="https://bandmemo.onrender.com"" />
    <meta property="og:title" content="bandmemo" />
    <meta property="twitter:description" content="bandmemoで、バンド練を振り返ろう。" />
    <meta property="og:image" content="<%= image_url "ogp_image.png" %>" />

    <title>bandmemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="font-notosansjp">
      <div class="min-h-screen w-full relative pb-12">
        <div class="w-full">
          <% if logged_in? %> 
            <%= render 'shared/header' %>  
          <% else %> 
            <%= render 'shared/before_login_header' %> 
        <% end %> 
        </div>
        <div class="my-5">
          <!-- フラッシュメッセージの表示 -->
          <%= render 'shared/flash_message' %> 
          <%= yield %>
        </div>
        <div class="absolute bottom-0 w-full">
          <!-- フッター -->
          <%= render 'shared/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>


