<!DOCTYPE html>
<html data-theme="nord">
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="font-notosansjp">
      <div class="min-h-screen w-full relative pb-12">
        <div class="w-full">
          <% if logged_in? %> 
            <%= render 'shared/header' %>  
          <% else %> 
            <%= render 'shared/before_login_header' %> 
        <% end %> 
        </div>
        <div class="my-5">
          <!-- フラッシュメッセージの表示 -->
          <%= render 'shared/flash_message' %> 
          <%= yield %>
        </div>
        <div class="absolute bottom-0 w-full">
          <!-- フッター -->
          <%= render 'shared/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
