<!DOCTYPE html>
<html data-theme="nord">
  <head>
  <!-- google analyticsの設定 -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5VE6X3NBEV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5VE6X3NBEV');
</script>
    
    <!-- Twitterカードの設定 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kamekame_manabi" />
    <meta property="og:url" content="https://bandmemo-app.com" />
    <meta property="og:title" content="bandmemo" />
    <meta property="twitter:description" content="バンド練習の決定事項、メモしてシェアしよう。" />
    <meta property="og:image" content="<%= image_url "ogp_image.png" %>" />

    <!-- fontawesomeの設定 -->
    <script src="https://kit.fontawesome.com/98a6311772.js" crossorigin="anonymous"></script>

    <title>bandmemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

<body class="min-h-screen flex flex-col">
    <header class="w-full">
      <% if logged_in? %> 
        <%= render 'shared/header' %>  
      <% else %> 
        <%= render 'shared/before_login_header' %> 
      <% end %> 
    </header>
    <main class="flex-grow my-5">
      <!-- フラッシュメッセージの表示 -->
      <%= render 'shared/flash_message' %> 
      <%= yield %>
    </main>
    <footer class="w-full">
      <!-- フッター -->
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>


